<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/header_st.css">
</head>

<body>
    <div id="container">
        <header id="header">
            <ul id="list">
                <li id="loginHome">
                    <a class="a-link" href="#">The<span id="more">More</span></a>
                </li>
                <li id="myPage">
                    <a class="a-link" href="#">내 정보</a>
                </li>
                <li id="logout">
                    <a class="a-link" href="#">로그아웃</a>
                </li>
            </ul>
        </header>
        <section>
            <ul id="section-link">
                <li id="account"> <a id="click-account" href="account.html">내 가계부</a> </li>
                <li id="statistics"><a id="click-statistics" href="statistics.html"> 통계</a> </li>
            </ul>
        </section>
    </div>
</body>

</html>