/* calendar, quote, expensesBox, expenseAdd 묶음 */
#wrapper {
    padding: 0 100px;
    margin-top: 35px;
    box-sizing: border-box;
}

/* 페이지 테마 변경 버튼 */
.circle {
    position: absolute; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(60, 60, 60, 0.3);
}

.circle.clicked {
    border: 2px solid rgba(60, 60, 60, 0.6);
}

#pinkTheme {
    right: 180px;
    background-color: rgba(242, 111, 111, 0.3);
}

#greenTheme {
    right: 130px;
    background-color: rgba(111, 242, 132, 0.3);
}

#blueTheme {
    right: 80px; 
    background-color: rgba(55, 159, 235, 0.3);
}

.chatImg {
    position: absolute;
    right: 20px;
    top: 150px;
}

.quote {
    position: relative;
    width: calc(50% - 46px);
    height: 2rem;
    padding: 20px;
    margin-top: 300px;
    margin-left: 20px;
    /* box-sizing: border-box; */
}

.expensesBox {
    position: relative;
    width: calc(50% - 46px);
    height: 37rem;
    border-radius: 10px;
    border: 3px solid rgba(60, 60, 60, 0.3);
    padding: 20px;
    margin-top: 35px;
    margin-left: 20px;
    /* box-sizing: border-box; */
}

#selectedDate {
    display: block;
    margin-bottom: 10px;
    font-size: 28px;
    color: #3c3c3c;
}

#backBtn {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 22px;
    font-size: 17px;
    font-size: 15px;
}

.expensesBtn {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin: 0 5px;
    flex: 1;
    font-size: 18px;
}

.expensesBtn.clicked {
    border: 1px solid rgba(60, 60, 60, 0.6);
}

.incomeBtn {
    background-color: rgba(255, 116, 116, 0.47);
}

.outcomeBtn {
    background-color: rgba(55, 159, 235, 0.3);
}

.expenseList {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.expenseItem:not(:last-child){
    margin-bottom: 10px;
}

#addListBtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(242, 111, 111, 0.7);
}

#addListBtn:active {
    border: 2px solid rgba(60, 60, 60, 0.5);
}

.expenseAdd {
    position: relative;
    width: calc(50% - 46px);
    height: 37rem;
    border-radius: 10px;
    border: 3px solid rgba(60, 60, 60, 0.3);
    position: relative;
    padding: 20px;
    margin-top: 35px;
    margin-left: 20px;
}

#select {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#backBtn2 {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 22px;
    font-size: 17px;
    font-size: 15px;
}

.selectButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.budgetBtn {
    background-color: #DDDDDD;
}

.categorys {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #3c3c3c;
}

.categoryBtn.clicked {
    background-color: rgba(242, 111, 111, 0.8);;
}

.outcomeCategoryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-top: 10px;
}

.outcomeCategoryGrid button {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(242, 111, 111, 0.3);
}

.incomeCategoryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-top: 10px;
}

.incomeCategoryGrid button {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(242, 111, 111, 0.3);
}

/* 금액 / 내용 input */
input[type='number'],
input[type='text'] {
    width: 100%;
    border-radius: 5px;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(242, 111, 111, 0.3);
}

.expenseAddBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cancelBtn {
    background-color: #DDDDDD;
}

.commitBtn {
    background-color: rgba(242, 111, 111, 0.7);
}

/* 카테고리 gird를 위한 처리 */
.hidden {
    display: none;
}

.visible {
    display: block;
}
