#grape_left {
    padding: 20px;
    float: left;
    width: 50%;
    display: block;
}

#grape_right {
    padding: 20px;
    float: right;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    #grape_right {
        float: none;
    }
}