.section{
    position: relative;
    overflow: hidden;
    height: 780px;
}
.font-3c{
    color: #3c3c3c;
}
.font-ffff{
    color: #ffff;
}
#section1{
    /* min-height: 900px; */
    width: 100%;
    /* height: auto; */
    /* max-height: 900px; */
    /* background: url('../images/before_login_background.png') no-repeat; */
    background: url('../images/beforeMainPage/brfore_login_img.png') no-repeat;
    background-size: cover;
    /* top: -90px; */
    
}
#section1 .home_text .text1 {
    font-size: 37px;
    line-height: 2.3;
    opacity: 0.8;
    letter-spacing: -1px;
}
#section1 .home_text .text2 {
 
    font-weight: 500;
    line-height: 1.5;
    margin-top: 4px;
    letter-spacing: -1px;
}
#section1 .home_text  {
    font-size: 59px;
}
#section1 .wrap {
    /* min-height: 73.3vh; */
    min-height: 530px;
    padding-top: 250px;
    transform: translateX(-120px);
    transition: all 0.9s ease-in-out;
}

#section1 .home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.3 ease-in-out;
}

.wrap{
    position: relative;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}


.text1{
    line-height: 15px;
    font-weight: 900;
}
.text2{
    padding-top: 20px;
    color: #757575;
    font-size: 20px;
}

.skip{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    background: 0 0;
    font-size: 0 !important;
    color: transparent !important;
    line-height: 0;
}
#section1 .notebook,
#section1 .iphone {
    position: absolute;
    top: 0;
    left: 0;
}#section1 .notebook {
    /* Adjust the top and left values to position the notebook image */
    top: -500px;
    left: -550px;
}#section1 .iphone {
    /* Adjust the top and left values to position the iPhone image */
    top: -380px;
    left: -650px;
}

#section2{
    min-height: 900px;
    padding: 130px 0 100px;
}
#section2 .wrap{
    text-align: center;
}
#section2 h2{
    text-align: center;
}
[data-aos^=fade][data-aos^=fade].aos-animate{
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos=fade-up] {
    transform: translate3d(0, 100px, 0);
}
section h2 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.48px;
}
#section2 h2 span {
    color: #555;
}
section h2 span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 7px;
}
#section2 h2 {
    text-align: center;
}
#section2 .point_tab {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 528px;
    margin: 0 auto;
}

#section2 .tab_list.n1:before, #section2 .tab_list.n2:before, #section2 .tab_list.n3:before {
    right: 0;
}
:after, :before {
    display: none;
    content: '';
}


#section2 .tab_list.n1 a, #section2 .tab_list.n2 a, #section2 .tab_list.n3 a {
    padding-right: 110px;
    text-align: right;
}
#section2 .tab_list a {
    display: block;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    color: #000000;
    letter-spacing: -3.19px;
    word-break: keep-all;
}
a:link {
    color: #555;
    text-decoration: none;
}
#section2 .tab_list a span {
    margin-top: 3px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.54px;
    color: #555;
    font-weight: 400;
}

#section2 .tab_list {
    position: absolute;
    width: 320px;
    min-height: 99px;
    cursor: pointer;
}
#section2 .tab_list.active a {
    color: #fd6255;
}

#section2 .tab_list:before {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    background: url(../images/beforeMainPage/Ellipse_size_5.png) no-repeat center center;
    background-size: 100% 100%;
}
#section2 .tab_list.active:before {
    background-image: none;
    background-color: #fd6255;
    box-shadow: 0 5px 20px 0 rgba(229, 41, 28, 0.33);
}

#section2 .tab_list:after {
    display: block;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
}

#section2 .tab_list.n1 {
    top: 40px;
    left: -250px;
}
#section2 .tab_list.n1:after {
    right: 0;
    background-image: url(../images/beforeMainPage/bg_point1.png);
    background-size: 44px;
}
#section2 .tab_list.n1.active:after {
    background-image: url(../images/beforeMainPage/bg_point1_on.png);
    transition-duration: 0.5s;
}


#section2 .tab_list.n2 {
    top: 202px;
    left: -314px;
}
#section2 .tab_list.n2:after {
    right: 0;
    background-image: url(../images/beforeMainPage/bg_point2.png);
    background-size: 44px auto;
}
#section2 .tab_list.n2.active:after {
    background-image: url(../images/beforeMainPage/bg_point2_on.png);
    transition-duration: 0.5s;
}


#section2 .tab_list.n3 {
    top: 381px;
    left: -280px;
}

#section2 .tab_list.n3.active:after {
    background-image: url(../images/beforeMainPage/bg_point3_on.png);
    transition-duration: 0.5s;
}
#section2 .tab_list.n3:after {
    right: 0;
    background-image: url(../images/beforeMainPage/bg_point3.png);
    background-size: 42px auto;
}


#section2 .tab_list.n4 {
    top: 40px;
    right: -250px;
}
#section2 .tab_list.n4:after {
    left: 0;
    background-image: url(../images/beforeMainPage/bg_point4.png);
    background-size: 38px auto;
}

#section2 .tab_list.n4.active:after {
    background-image: url(../images/beforeMainPage/bg_point4_on.png);
    transition-duration: 0.5s;
}

#section2 .tab_list.n4 a, #section2 .tab_list.n5 a, #section2 .tab_list.n6 a {
    padding-left: 110px;
    text-align: left;
}

#section2 .tab_list.n5 {
    top: 202px;
    right: -314px;
}

#section2 .tab_list.n5:after {
    left: 0;
    background-image: url(../images/beforeMainPage/bg_point5.png);
    background-size: 42px auto;
}
#section2 .tab_list.n5.active:after {
    background-image: url(../images/beforeMainPage/bg_point5_on.png);
    transition-duration: 0.5s;
}


#section2 .tab_list.n6 {
    top: 381px;
    right: -280px;
}

#section2 .tab_list.n6:after {
    left: 0;
    background-image: url(../images/beforeMainPage/bg_point6.png);
    background-size: 37px auto;
}
#section2 .tab_list.n6.active:after {
    background-image: url(../images/beforeMainPage/bg_point6_on.png);
    transition-duration: 0.5s;
}

#section2 .panel_list.active {
    display: inline-block;
}
#section2 .panel_list {
    display: none;
}
#section2 .panel_list img {
    width: 590px;
}
#section2 .point_panel {
    position: relative;
    margin: 50px auto 0 auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.point_tab .tab_list,.point_panel .panel_list {
    list-style: none;
}
.tab_list a{
    text-decoration: none;

}

#section3{
    min-height: 1100px;
    background-color: #E6E6E6;
    padding: 100px 0 100px;
    /* position: absolute; */
    top: 0;
    bottom: 0;

}

#section3 .wrap{
    text-align: center;
}

#section3 h2{
    text-align: center;
}

#community_netbook1{
    width: 50%;
    position: relative;
    top: 300px;
    z-index: 1;
}

#community_netbook2{
    width: 50%;
    top: -230px;
    position: relative;
    left: 440px;
}

#community_netbook3{
    width: 50%;
    position: relative;
    top: -631px;
    right: 445px;
}

hr{
    border:1px solid;
}

#arrow-up{
    position: fixed;
    bottom: 30px;
    right: 30px; 
    width: 50px;
}

.arrow-up-hide{
    visibility:collapse ;
}

footer{
    color: #fd6255;
    text-align: center;
}

footer a:hover{
    color: aqua;
}