#mark {
    padding: 15px;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#mark ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
}

#expendCon {
    border-width: 0;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
}
input:focus {outline:none;}