@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    color: #3c3c3c;
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    display: flex;
    align-items: center;
    padding-top: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    justify-content: start;
    padding-left: 20px;
}

.a-link {
    text-decoration: none;
    color: #3C3C3C;
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
}

#more {
    color: #FFFFFF;
}

body {
    /* 회원가입 */

    position: relative;
    width: 1440px;
    color: #3c3c3c;
    height: 100vh;
    background-image: url('../images/backgroundColor.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 600px;
    margin: 100px auto;
    font-family: 'S-CoreDream-3Light';
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

fieldset {
    border: none;
    text-align: center;
    padding-top: 30px;

}

#baby-pig {
    /* Rectangle 50 */

    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);

}


ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    float: left;
    width: 100%;
    padding-right: 10px;
    text-align: left;
}

input {
    display: block;
    float: left;
    width: calc(100%-20px);
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    text-align: left;

}

input[type="text"],
input[type="email"] {
    border: none;
    width: 500px;
    border-bottom: 2px solid #FFB1B1;
    background-color: transparent;
    padding: 5px 0;
    outline: none;
}

input[type="submit"] {
    display: inline-block;
    text-align: center;
    background-color: #FFB1B1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}


.radio label {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

#button {
    margin-left: 250px;
}

#warning {
    height: 1rem;
    margin-top: 10px;
}