@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'S-CoreDream-3Light';
}

header {
    color: #3c3c3c;
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    display: flex;
    align-items: center;
    padding-top: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    justify-content: start;
    padding-left: 20px;
}

.a-link {
    text-decoration: none;
    color: #3C3C3C;
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
}

#more {
    color: #FFFFFF;
}

body {
    position: relative;
    color: #3c3c3c;
    height: 100vh;
    background-image: url('../images/backgroundColor.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 600px;
    margin: 100px auto;
    font-family: 'S-CoreDream-3Light';
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

fieldset {
    border: none;
    text-align: center;
    padding-top: 30px;
}

#baby-pig {
    /* Rectangle 50 */
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    float: left;
    width: 100%;
    padding-right: 10px;
    text-align: left;
}

#out{
    display: block;
    float: right;
    font-size: xx-small;
    text-decoration: none;
    font-style: normal;
    color: #3c3c3c;
}

input {
    display: block;
    float: left;
    width: calc(100%-20px);
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    width: 500px;
    border-bottom: 2px solid #FFB1B1;
    background-color: transparent;
    padding: 5px 0;
    outline: none;
}

input[type="button"] {
    display: flex;
    text-align: center;
    background-color: #FFB1B1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 50px;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
}
input[type="button"]:hover{
    background-color: rgba(255, 177, 177, 0.5);
}

.radio label {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

#warning{
    height: 1rem;
    margin-top: 10px;
}

#warning + span {
    visibility: hidden;
    font-size: 0.7rem;
}

#warning:hover + span{
    visibility: visible;
    background-color: #FFB1B1;
    color: #3C3C3C;
    padding: 5px 5px;
    border-radius: 5px;
    margin-left: 5px;
    left: calc(100% + 10px); /* 이미지 오른쪽에 위치 */
}
