#select ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.acc {
    font-family: 'S-CoreDream-3Light';
    font-size: 25px;
    text-decoration: none;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#income {
    color: #FF7A7A;
    text-align: center;
    
}
#expend {
    color: #379FEB;
    text-align: center;
}